<div class="wrapper">
  <p>Demo drag & drop dynamic component</p>
  <div class="content" cdkDrop>
    <div class="sec1">
      <p class="sec-header">List of components</p>
      <div
        cdkDropList
        [cdkDropListData]="componentTypes"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of componentTypes" cdkDrag>
          {{ item }}
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary">Add</button>
      </div>
    </div>
    <div class="sec2">
      <p class="sec-header">Layout</p>
      <div class="grid">
        <ng-template dynamicContent></ng-template>
      </div>
    </div>
    <div class="sec3">
      <p class="sec-header">Properties</p>
    </div>
  </div>
</div>
